* {
  padding: 0;
  margin: 0;
  font-family: Century Gothic;
}
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}
/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {      
    background: #9e9e9e;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: #D82147;
    border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.container {
  width: 100%;
  height: auto;
  background-color: #FFF;
  /*background: linear-gradient(80deg, #035fce, #f5008c, #000000);*/
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.container .login-left {
  width: 40%;
  height: auto;
  background-color: #D82148;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.container .login-left h3 {
  font-size: 48px;
  font-weight: 300;
  margin-top: 50%;
}
.container .login-left h1 {
  font-size: 72px;
  font-weight: 300;
}
.container .login-left p {
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 294px;
}
.container .login-right {
  width: 60%;
  height: auto;
  background-color: #fff;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}
.container .login-right img {
  width: 402px;
  height: 216px;
}
.container .login-right h4 {
  font-size: 36px;
  font-weight: 200;
  margin: 1em 0px 1em 0px;
}
.container .login-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .login-right input {
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-bottom-color: #000;
  padding: 10px;
  width: 600px;
}
.container .login-right .show-password {
  position: absolute;
  top: 56%;
  right: 12%;
}
#toggle {
  position: absolute;
  background: url(../assets/icons/show.png);
  background-size: cover;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  top: 53.3%;
  right: 110px;
}
#toggle.hide{
    background: url(../assets/icons/hide.png);
    background-size: cover;
}
.container .login-right h5 {
  font-size: 14px;
  font-weight: 200;
}
.container .login-right button {
  margin-top: 2em;
  padding: 10px 100px 10px 100px;
  border: none;
  background-color: #D82148;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.container .login-right button:hover {
  margin-top: 2em;
  padding: 10px 100px 10px 100px;
  border: 1px solid #D82148;
  background-color: #fff;
  color: #D82148;
}
.container .left {
  width: 10%;
  height: 770px;
  max-height: 770px;
  background-color: #FFF;
  /*background-color: blue;*/
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
  /*color: #fff;*/
}
.container .left img {
  height: 68px;
  width: 101px;
}
.container .left .home {
  margin-top: 30%;
  /*padding: 12px 20px 12px 20px;*/
  padding: 12px 18px 10px 18px;;
  border: none;
  /*background-color: #D82148;*/
  /*color: #fff;*/
  color: #C9C9C9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 10px;
}
.container .left .home img {
  width: 40px;
  height: 40px;
}
/*.container .left .home:hover {
  border: none;
  background-color: #D82148;
  color: #FFF;
  font-size: 10px;
}*/
.container .left .transaction {
  margin-top: 20%;
  /*padding: 12px 12px 10px 12px;*/
  padding: 12px 12px 12px 12px;;
  border: none;
  /*background-color: #FFF;*/
  color: #C9C9C9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 10px;
}
.container .left .transaction img {
  width: 40px;
  height: 40px;
}
/*.container .left .transaction:hover {
  border: none;
  background-color: #D82148;
  color: #FFF;
  font-size: 10px;
}*/
.container .left .stock {
  margin-top: 20%;
  padding: 12px 18px 10px 18px;
  border: none;
  /*background-color: #FFF;*/
  color: #C9C9C9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 10px;
}
.container .left .stock img {
  width: 40px;
  height: 40px;
}
/*.container .left .stock:hover {
  border: none;
  background-color: #D82148;
  color: #FFF;
  font-size: 10px;
}*/
.active, .home:hover, .transaction:hover, .stock:hover {
  background-color: #D82148;
  color: #fff !important;
}
.container .left .logout {
  margin-top: 180%;
  margin-bottom: 19%;
  padding: 12px 18px 10px 18px;
  border: none;
  background-color: #FFF;
  color: #D82148;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 10px;
}
.container .left .logout img {
  width: 40px;
  height: 40px;
}
.container .left .logout:hover {
  border: none;
  background-color: #D82148;
  color: #FFF;
  font-size: 10px;
}
.container .center {
  width: 65%;
  height: 768px;
  background-color: #F1F1F1;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  max-width: 65%;
  flex-direction: column;
}
.container .center .header {
  display: flex;
  height: 5%;
  width: auto;
  padding: 3%;
  flex-direction: row;
  padding-top: 3%;
  padding-right: 3%;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.container .center .header p {
  font-size: 30px;
}
.container .center .header input {
  border: none;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
  width: 380px;
  float: left;
  font-size: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.container .center .header .icon {
  /*font-size: 20px;*/
  color: #C9C9C9;
  position: absolute;
  top: 2.5%;
  z-index: 1;
  margin-left: 17px;
  margin-top: 17px;
}
.container .center .regular-custom {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container .center .regular-custom .regular {
  background-color: #D82148;
  padding: 10px 160px 10px 160px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
.container .center .regular-custom .custom {
  background-color: #FFF;
  padding: 10px 160px 10px 160px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #D82148;
  cursor: pointer;
}
.container .center .regular-custom .custom:hover {
  background-color: #D82148;
  color: #FFF;
}
.container .center .menu {
  width: 100%;
  max-width: 100%;
  height: 600px;
  max-height: 600px;
  margin-top: 5%;
  color: #FFF;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  overflow-x: hidden;
}
.container .center .menu .product {
  width: 244px;
  max-width: 244px;
  height: 334px;
  max-height: 334px;
  background-color: #FFF;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-decoration: none;
  margin-bottom: 5%;
}
.container .center .menu .product img {
  width: 230px;
  height: 230px;
  margin-top: 10px;
}
.container .center .menu .product .product-name {
  font-size: 20px;
  margin-top: 20px;
}
.container .center .menu .product .price {
  font-size: 15px;
  margin-bottom: 30px;
}
/*Custom Section Start*/
.container .center-custom {
  width: 65%;
  height: 768px;
  background-color: #F1F1F1;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  max-width: 65%;
  flex-direction: column;
  position: absolute;
  left: 136.5px;
  display: none;
}
.container .center-custom .header-custom {
  display: flex;
  height: 5%;
  width: auto;
  padding: 3%;
  flex-direction: row;
  padding-top: 3%;
  padding-right: 3%;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.container .center-custom .header-custom p {
  font-size: 30px;
}
.container .center-custom .header-custom input {
  border: none;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
  width: 380px;
  float: left;
  font-size: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.container .center-custom .header-custom .icon-custom {
  /*font-size: 20px;*/
  color: #C9C9C9;
  position: absolute;
  top: 2.5%;
  z-index: 1;
  margin-left: 17px;
  margin-top: 17px;
}
.container .center-custom .regular-custom-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container .center-custom .regular-custom-custom .regular-custom {
  background-color: #FFF;
  padding: 10px 160px 10px 160px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #D82148;
  cursor: pointer;
}
.container .center-custom .regular-custom-custom .custom-custom {
  background-color: #D82148;
  padding: 10px 160px 10px 160px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
.container .center-custom .regular-custom-custom .regular-custom:hover {
  background-color: #D82148;
  color: #FFF;
}
.container .center-custom .menu-custom {
  width: 100%;
  max-width: 100%;
  height: 770px;
  max-height: 770px;
  margin-top: 5%;
  color: #FFF;
  display: flex;
  flex-direction: row;
  /*box-sizing: border-box;*/
  /*flex-wrap: wrap;*/
  justify-content: space-evenly;
  /*overflow: scroll;
  overflow-x: hidden;*/
}
.container .center-custom .menu-custom .product-custom {
  width: 244px;
  max-width: 244px;
  height: 334px;
  max-height: 334px;
  background-color: #FFF;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-decoration: none;
  margin-bottom: 5%;
}
.container .center-custom .menu-custom .product-custom img {
  width: 230px;
  height: 230px;
  margin-top: 10px;
}
.container .center-custom .menu-custom .product-custom .product-name-custom {
  font-size: 20px;
  margin-top: 20px;
}
.container .center-custom .menu-custom .product-custom .price-custom {
  font-size: 15px;
  margin-bottom: 30px;
}
/*Custom Section End*/
.container .right {
  width: 25%;
  height: auto;
  background-color: #FFF;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container .right .summary-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 10%;
  padding-left: 1.5em;
}
.container .right .summary-text h3 {
  font-size: 30px;
}
.container .right .summary-price {
  width: 100%;
  max-width: 100%;
  height: 330px;
  margin-top: 30px;
  /*display: flex;*/
  /*flex-direction: row;*/
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}
.container .right .summary-price .item {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container .right .summary-price .item .item-img  img{
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}
/*.container .right .summary-price .item .item-img  img{
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}*/
.container .right .summary-price .item .item-name-price {
  width: 35%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .right .summary-price .item .item-name-price h4 {
  font-size: 18px;
  font-weight: 200;
  margin-right: 150px;
}
.container .right .summary-price .item .item-name-price p {
  font-size: 10px;
  color: #C9C9C9;
}
.container .right .summary-price .item .item-value {
  margin-right: 30px;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .right .summary-price .item .item-value .input-button {
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 30px;
  color: #FFF;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #D82148;
  cursor: pointer;
}
.container .right .summary-price .item .item-value input {
  border: none;
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  text-align: center;
}
.container .right .summary-total {
  position: absolute;
  bottom: 30%;
  width: 100%;
  color: #C9C9C9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /*background-color: #FFF;*/
}
.container .right .summary-total .subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
}
.container .right .summary-total .tax {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
}
.container .right .summary-total .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
}
.container .right .summary-total hr {
  border: 1px solid #C9C9C9;
  width: 90%;
  margin-left: 5%;
}
.container .right .summary-button {
  width: 100%;
  max-width: 100;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}
.container .right .summary-button .proceed-button {
  background-color: #D82148;
  width: 75%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  border: none;
  border-radius: 10px;
  margin: 10px 0px 40px 0px;
  cursor: pointer;
}

/** Modal */
.modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  /*max-width: 300px;*/
  margin: 0 auto;
  width: 650px;
  height: 420px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal button {
  display: none;
}
.modal img {
  width: 250px;
  height: 250px;
}
.modal h4 {
  font-size: 35px;
  color: #D82149;
  margin-top: -25px;
}
.modal p {
  font-size: 12px;
  margin-top: -25px;
}
.modal a {
  background-color: #D82148;
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  border: none;
  border-radius: 30px;
  /*margin: 10px 0px 40px 0px;*/
  cursor: pointer;
  margin-top: 10px;
}
/** Overlay */
.overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/** Purchase Confirmation Modal */
.purchase-confirmation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  max-width: 650px;
  margin: 0 auto;
  width: 650px;
  height: 420px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.purchase-confirmation p {
  font-size: 30px;
}
.purchase-confirmation .warning {
  font-size: 15px !important;
}
.purchase-confirmation input {
  border-color: black;
  border-width: 1px;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 580px;
  font-size: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.purchase-confirmation .phone {
  margin-top: -30px;
}
.purchase-confirmation .modal-close-btn {
  display: none;
}
.purchase-confirmation button {
  margin-top: 30px;
  border: none;
  width: 200px;
  height: 40px;
  background-color: #D82147;
  border-radius: 30px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/** Overlay */
.purchase-overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/** Payment Method Modal */
.payment-method {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  max-width: 650px;
  margin: 0 auto;
  width: 650px;
  height: 420px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.payment-method p {
  font-size: 30px;
}
.payment-method .modal-close-btn {
  display: none;
}
.payment-method .method {
  width: 600px;
  height: 350px;
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -50px;
}
.payment-method button {
  margin-top: 30px;
  width: 270px;
  height: 270px;
  background-color: #FFF;
  border-radius: 30px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid #D82147;
}
.payment-method .method .cash {
  background-image: url(../assets/images/cash-red.png);
  background-size: cover;
*/}
.payment-method .method .cash:hover {
  background-image: url(../assets/images/cash-white.png);
  background-color: #D82147;
}
.payment-method .method .online-payment {
  background-image: url(../assets/images/online-payment-red.png);
  background-size: cover;
}
.payment-method .method .online-payment:hover {
  background-image: url(../assets/images/online-payment-white.png);
  background-color: #D82147;
}
/** Overlay */
.payment-overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.container .center-transaction {
  width: 90%;
  height: 768px;
  background-color: #F1F1F1;
  background-size: cover;
  display: flex;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
}
.container .center-transaction .header-transaction {
  display: flex;
  height: 5%;
  width: 100%;
  padding: 3%;
  flex-direction: row;
  padding-top: 3%;
  padding-right: 3%;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}
.container .center-transaction .header-transaction p {
  font-size: 30px;
}
.container .center-transaction .header-transaction input {
  border: none;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
  width: 880px;
  /*float: left;*/
  font-size: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.container .center-transaction .header-transaction .icon {
  color: #C9C9C9;
  position: absolute;
  top: 2.5%;
  margin-left: 17px;
  margin-top: 28px;
}
.container .center-transaction .table-wrapper {
  width: 100%;
  max-width: 100%;
  height: 658px;
  max-height: 658px;
  overflow: auto;
  overflow-x: hidden;
}
.container .center-transaction .table-wrapper .table {
  width: 95%;
  max-width: 95%;
  text-align: center;
  border-collapse: collapse;
  margin-left: 3%;
}
.container .center-transaction .table-wrapper .table tr th {
  background-color: #D82147;
  height: 50px;
  color: #FFF;
}
.container .center-transaction .table-wrapper .table .no {
  width: 60px;
  max-width: 60px;
  background-color: #D82147;
  border-top-left-radius: 10px;
}
.container .center-transaction .table-wrapper .table .customer-name {
  width: 300px;
  background-color: #D82147;
}
.container .center-transaction .table-wrapper .table .transaction-date {
  width: 180px;
  background-color: #D82147;
}
.container .center-transaction .table-wrapper .table .order {
  width: 250px;
  background-color: #D82147;
}
.container .center-transaction .table-wrapper .table .amount {
  width: 70px;
  background-color: #D82147;
}
.container .center-transaction .table-wrapper .table .total {
  width: 200px;
  background-color: #D82147;
}
.container .center-transaction .table-wrapper .table .status {
  width: 100px;
  background-color: #D82147;
  border-top-right-radius: 10px;
}
.container .center-transaction .table-wrapper .table tr td {
  background-color: #FFF;
  height: 40px;
  color: #000;
}
.container .center-stock {
  width: 90%;
  height: 768px;
  background-color: #F1F1F1;
  background-size: cover;
  display: flex;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
}
.container .center-stock .header-stock {
  display: flex;
  height: 5%;
  width: 100%;
  padding: 3%;
  flex-direction: row;
  padding-top: 3%;
  padding-right: 3%;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}
.container .center-stock .header-stock p {
  font-size: 30px;
}
.container .center-stock .header-stock input {
  border: none;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
  width: 880px;
  /*float: left;*/
  font-size: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.container .center-stock .header-stock .icon {
  color: #C9C9C9;
  position: absolute;
  top: 2.5%;
  margin-left: 17px;
  margin-top: 28px;
}
.container .center-stock .content {
  width: 100%;
  height: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .center-stock .content .add-product {
  width: 95%;
  height: 40px;
  margin-bottom: 20px;
}
.container .center-stock .content .add-product a {
  background-color: #D82147;
  width: 100%;
  height: 40px;
  cursor: pointer;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.container .center-stock .content .product-wrapper {
  width: 100%;
  max-width: 100%;
  height: 91%;
  max-height: 91%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  overflow: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.container .center-stock .content .product {
  background-color: #FFF;
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.container .center-stock .content .product img {
  width: 110px;
  height: 110px;
  background-size: cover;
  margin-left: 25px;
}
.container .center-stock .content .product .name-price {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.container .center-stock .content .product .name-price h4 {
  font-size: 30px;
  font-weight: normal;
}
.container .center-stock .content .product .name-price p {
  font-size: 15px;
  color: #C9C9C9;
}
.container .center-stock .content .product .stock-input {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.container .center-stock .content .product .stock-input .input-button {
  border-radius: 35px;
  width: 70px;
  height: 70px;
  color: #FFF;
  background-color: #D82147;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center-stock .content .product .stock-input input {
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  text-align: center;
}
.add-product-modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 950px;
  /*max-width: 650px;*/
  height: 620px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/
  align-items: center;
  flex-wrap: wrap;
}
.add-product-modal .new-product {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.add-product-modal .new-product p {
  font-size: 30px;
  margin-left: 50px;
}
.add-product-modal .modal-close-btn {
  display: none;
}
.add-product-modal .add-product-form {
  width: 90%;
  height: 500px;
  max-width: 100%;
  max-height: 500px;
  margin-top: 40px;
}
.add-product-modal .add-product-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.add-product-modal .add-product-form form input[type=text] {
  border-color: black;
  border-width: 1px;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 400px;
  font-size: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-bottom: 10px;
}
.add-product-modal .add-product-form form .replace-input-file {
  width: 400px;
  height: 400px;
  /*background-color: rgba(216, 33, 71, 0.5);*/
  position: absolute;
  top: 110px;
  right: 50px;
  border-radius: 20px;
  border: 1px;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.add-product-modal .add-product-form form input[type=file] {
  opacity: 0;
}
.add-product-modal .add-product-form form a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: 420px;
  height: 40px;
  background-color: #D82147;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/** Overlay */
.add-product-overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}